{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="row">
{% for subscription_list in subscription_lists %}
<div class="col-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ subscription_list.product.name }}</h5>
      <p class="card-text">{{ subscription_list.plan.unit_amount }}</p>
      {% if subscription_list.product.images|length > 0 %}
          <img src="{{ subscription_list.product.images[0] }}" class="w-100 card-img-top" />
      {% endif %}
      {{ subscription_list.product.id }}
      {{ subscription_list.plan.id }}
      {% if subscription_list.subscription_id %}
        <form action="{{ url('subscription_cancel') }}" method="post">
            <input type="hidden" name="subscription_id" value="{{ subscription_list.subscription_id }}" />
            <input type="submit" class="btn btn-danger btn-block" value="キャンセルする" />
        </form>
      {% else  %}
        <form action="{{ url('subscription_confirm') }}" method="post">
            <input type="hidden" name="plan_id" value="{{ subscription_list.plan.id }}" />
            <input type="hidden" name="product_id" value="{{ subscription_list.product.id }}" />
            <input type="submit" class="btn btn-primary btn-block" value="購読する" />
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
